<%= render "shared/second-header"%>

<div class="items-sell-contents">
  <div class="items-sell-main" >
    <h2 class="items-sell-title"><%= @user.nickname %>さんのマイページ</h2>
    <div class="item-explain-box"></div>

    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <%# 基本情報 %>
        <div class="item-explain-box"></div>
        <div class="mypage-content-title">
          <h2 class="items-sell-title">基本情報</h2>
          <div class="mypage-btns">
            <%= link_to '更新', edit_user_registration_path, class: "item-red-btn2" %>
          </div>
        </div>
        <div class="mypage-content-space"></div>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">ニックネーム</th>
              <td class="detail-value"><%= @user.nickname %></td>
            </tr>
            <tr>
              <th class="detail-item">メールアドレス</th>
              <td class="detail-value"><%= @user.email %></td>
            </tr>
            <tr>
              <th class="detail-item">お名前</th>
              <td class="detail-value"><%= @user.last_name %>　<%= @user.first_name %></td>
            </tr>
            <tr>
              <th class="detail-item">お名前カナ</th>
              <td class="detail-value"><%= @user.last_name_kana %>　<%= @user.first_name_kana %></td>
            </tr>
            <tr>
              <th class="detail-item">生年月日</th>
              <td class="detail-value"><%= @user.birthday %></td>
            </tr>
          </tbody>
        </table>
        <%# /基本情報 %>
        
        <%# クレジットカード情報 %>
        <div class="item-explain-box"></div>
        <div class="mypage-content-title">
          <h2 class="items-sell-title">クレジットカード情報</h2>
          <div class="mypage-btns">
            <%= link_to '更新', new_card_path, class: "item-red-btn2", data: { turbo: false } %>
            <% unless @user_card.nil? %>
              <%= link_to '削除', card_path(@user_card.id), data: { turbo_method: :delete }, class: "item-grey-btn" %>
            <% end %>
          </div>
        </div>
        <div class="mypage-content-space"></div>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">カード番号</th>
              <td class="detail-value">
                <% if @card.nil? %>
                  -
                <% else %>
                  <%# カード番号の下4桁を取得 %>
                  <%= "**** **** **** " + @card[:last4] %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="detail-item">有効期限</th>
              <td class="detail-value">
                <% if @card.nil? %>
                  -
                <% else %>
                  <%# 有効期限の「月」/「年」を取得 %>
                  <%= @card[:exp_month] %>/<%= @card[:exp_year] %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <%# /クレジットカード情報 %>
      <% end %>
    <% end %>

    <div class="item-explain-box"></div>
    <div class="mypage-content-title">
      <h2 class="items-sell-title">出品済み商品</h2>
    </div>

    <%# 商品一覧 %>
    <div class='item-contents'>
      <ul class='item-lists'>
        <% unless @items.empty? %>
          <% @items.each do |i| %>
            <li class='list'>
              <%= link_to item_path(i.id) do %>
              <div class='item-img-content'>
                <%= image_tag i.image, class: "item-img" %>

                <% if Order.exists?(item_id: i.id) %>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
                <% end %>

              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= i.name %>
                </h3>
                <div class='item-price'>
                  <span><%= i.item_price %>円<br><%= i.shipping_fee.name %></span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%# /商品一覧 %>

    <div class="item-explain-box"></div>
    <div class="sell-btn-contents">
      <%= render "shared/back" %>
    </div>
    
  </div>
</div>
<%= render "shared/second-footer"%>
